@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    border: 0;
    outline: 0;
    text-decoration: none;
    list-style: none;
}


.container{
    width: 80%;
}

span{
    color: rgb(10, 10, 117);
    font-weight: 500;
}

.border1{
    border: 1px solid gray;
}

.hover-scale-140 {
    transition: transform 1s;
    color: rgba(211, 211, 211, 0.221);
}

.hover-scale-140:hover {
    transform: scale(1.6);
}